@charset "UTF-8"; /*Regra para não ter problema de compatibilidade com caracteres especiais*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
background-image: linear-gradient(to right, #BFB47A, #DCDAA1)
}

main {
    background-color: white; /*Cor de fundo desse seletor*/
    border-radius: 10px; /*Deixa a borda arredondada*/
    box-shadow: 5px 5px 15px #8778417a; /*Configuração que dá um sombreado para o box do conteúdo: 1º de deslocamento lateral, 2º de deslocamento para baixo, 3º de espalhamento e 4º de cor.*/
    width: 600px; /*Largura*/
    padding: 10px; /*Acolchoamento*/
    margin: auto; /*Centralizando o conteúdo na tela*/
}

h1 {
    color: #900100;
    text-align: center; /*Alinhamento to texto do título*/
    text-shadow: 1px 1px 1px #380101;

}

h2 {
    color: #877841;

}

p {
    text-align: justify; /*Alinhamento to texto dos parágrafos*/
}